---
import { DateTime } from "../components/DateTime.tsx"; 
import { PowerManagement } from "../components/PowerManagement.tsx";

const title = "edash";
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content-="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>{title}</title>
  </head>
  <body class="w-screen h-screen">
    <div
      class="w-full h-full flex flex-col items-center justify-center select-none bg-black text-white"
    >
      <div>
        <DateTime client:load />
      </div>
      <div class="mt-10">
        <PowerManagement client:load /> 
      </div>
    </div>
  </body>
</html>
